:root {
    --main-color: #0F3885;
    --bg-main-color: #0F3885;
    --second-color: #00E4ff;
    --bg-second: #00E4ff;
    --dark-blue: #031128;
    --bg-dark-blue: #031128;
    --red: #910808;
    --bg-red: #910808;
    --white: #fff;
    --bg-white: #fff;
    --black: #000;
    --bg-black: #000;
    --y-100: 100px;


}


/** Reset **/
body {
     font-size: 16px;
    line-height: 1.5;
}

p {
    margin:0;
}

ul,
ul li {
    list-style: none;
    padding: 0;
}


/******* Utility classes*******/

.uppercase {
    text-transform: uppercase;
}

.fs-2 {
    font-size: 2rem;
}

.fs-3 {
    font-size: 3rem;
}

.fs-4 {
    font-size: 4rem;
}

.fs-7 {
    font-size: 7rem;
}



.fw-300 {
    font-weight: 300;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.margin-y {
    margin-top: var(--y-100);
    margin-bottom: var(--y-100);
}

.padding-y {
    padding-top: var(--y-100);
    padding-bottom: var(--y-100);
}


/******* CSS *******/


body {
    background: var(--bg-dark-blue);
    color: var(--white);
}

a {
    color: var(--second-color);
    display: inline-block;
    transition: .5s;
    text-decoration: none;
}

a:hover {
    color: #BDBDBD;
    text-decoration: none;
}

.navbar img {
    width: 50px;
}

footer ul li {
    margin-right: 1rem;
}


/******* First section *******/

.aboutMe-section {
    height: 100vh;
}

.aboutMe-section :is(.container, .row) {
    height: 100%;
}

.aboutMe-section h1{
font-size:4rem;
}

.aboutMe-section h2{
font-size:1.5rem!important;
}

.aboutMe-section .contact {
display:flex;
justify-content:space-between;
align-items:center;
margin-top: 3rem;
}

.social-links .fa-envelope {
    margin-right:.5rem;
}


.aboutMe-section ul {
    display: flex;
}

.aboutMe-section ul li:first-child {
    margin-left:0;
}
.aboutMe-section ul li {
    margin-left: 1rem;
    list-style: none;
}

.skills-section .icon-skill {
    margin-bottom:1.5rem;
}
.skills-section .icon-skill i  {
font-size:2rem;
margin-bottom:1rem;
}

.experience-card {

    
}

/**** Media Queries **/

@media (min-width: 1400px) {
    .container {
        min-width: 1400px;
    }
}


/*** Swiper**/

.swiper {
    margin: 50px auto;
    width: 100%;
    height: 540px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
}